<div>
  <mat-toolbar class="title-bar">Updaing Redaction Projects, Please don't close browser...</mat-toolbar>
  <h1 mat-dialog-title>
    <div *ngIf="showTemplate()">
      Attaching template to project {{currentTemplateNumber}} out of {{selectionIds.length}}...
    </div>
    <div *ngIf="showUpdate()">
      Updating notes on task and projects...
    </div>
    <div *ngIf="showFinish()">
      Finish Updating Redaction Projects!
    </div>
    <div *ngIf="showError()">
      Error happens while {{errorMsg}}..., please try again.
    </div>
  </h1>
  <div class="progress-section" *ngIf="showProgressBar()">
    <mat-progress-bar
      class="progress-margin"
      color="primary"
      mode="buffer"
      value={{progressValue}}>
    </mat-progress-bar>
  </div>
  <mat-dialog-actions class="action-button" *ngIf="showButton()">
    <!--<button mat-button type="button" (click)="closeApplication()">Close Application</button>-->
    <button mat-raised-button color="primary" type="button" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
