<div class="title">
  <mat-toolbar color="primary" class="title">Updaing Redaction Projects, Please don't close browser...</mat-toolbar>
  <h1 mat-dialog-title>
    <div>
      Attaching template to project {{projectAttachedTemplate.length + 1}} out of {{selectionIds.length}}...
    </div>
  <div>
     Updating note on project and task....
  </div>
  <div>Finish Updating Redaction Projects!</div></h1>
  <div class="progress-section">
    <mat-progress-bar
      class="progress-margin"
      color="primary"
      mode="buffer"
      value=20>
    </mat-progress-bar>
  </div>
  <mat-dialog-actions class="action-class">
    <button mat-button type="button">Close</button>
    <button mat-button type="button" mat-dialog-close>Close Application</button>
  </mat-dialog-actions>
</div>
