mat-card-title,
mat-card-content,
mat-card-footer,
mat-card-subtitle{
  display: flex;
  justify-content: center;
}
.mat-card-subtitle{
  font-size: 16px !important;
}
.mat-card {
  height: 100px !important;
  padding: 8px !important;
}

mat-card-footer {
  padding: 5px 0;
  margin-top: -30px;
}

.mat-form-field {
  min-width: 200px;
  margin-right: 10px;
}

.mat-spinner {
  position: relative;
  top: 10px;
  left: 10px;
  visibility: hidden;
}

.mat-spinner.show {
  visibility: visible;
}

.search-button {
  position: relative;
  font-size: 20px;
  left: 20px;
}

.search-option{
  position: relative;
  padding-top: 15px;
  left:120px;
}
.search-box{
  padding-bottom: 10px;
}
.search-title{
  font-size: 24px !important;
}
