.task-state-build {
  margin-top: 24px;
  min-height: 250px;
}

.section-action {
  padding-top: 160px;
  padding-left: 24px;
  padding-bottom: 6px;
}
.section-button{
  width: 120px;
  padding-left: 24px;
  margin-right: 15px;
}

.button-text{
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.spinner{
  float: left;
  padding-right: 10px;
}

.document-item-list {
  margin-top: 15px;
}
