<div class="task-state-build">
    <div [ngSwitch]="selectedTask.state">
      <div *ngSwitchCase="'Build'">
        <div class="state-title">
          Build A Document
        </div>
        <div class="state-instruction">
          Select Start to create a document using the Document Builder
        </div>
        <div class="section-action">
          <div>
            <button mat-raised-button class="section-button" (click)="buildDocument()">
              <span class="button-text">Build</span>
            </button>
          </div>
          <!--<div *ngIf="!showBuildButton()">-->
            <!--<button mat-raised-button class="section-progress-button">-->
              <!--<span class="spinner"><mat-spinner [diameter]="35"></mat-spinner></span>-->
              <!--<span class="button-text">Build in Progress...</span>-->
            <!--</button>-->
          <!--</div>-->
        </div>
      </div>
      <div *ngSwitchCase="'Upload'">
        <div class="section-title">
          Upload A Document
        </div>
        <div class="section-instruction">
          Select Upload to upload a document to the task
        </div>
        <div class="section-action">
          <button mat-raised-button class="section-button" color="green" (click)="uploadDocument()">
            <span class="button-text">Upload</span>
          </button>
        </div>
      </div>
      <div *ngSwitchCase="'Select'">
        <div class="section-title">
          Select Document
        </div>
        <div class="section-instruction">
          This page should show a list of document and allow user to select one.
        </div>
      </div>
      <div *ngSwitchDefault>
        <div>
          need to determine what we allow user to do here.
        </div>
          <app-document-item
          [selectedDocument]="selectedDocument"></app-document-item>
      </div>
    </div>
</div>
