.task-state-build {
  margin-top: 24px;
  padding-left: 24px;
  min-height: 250px;
}

.section-action {
  padding-top: 160px;
}
.section-button{
  background:#30a362 !important;
  width: 120px;
}
.section-progress-button{
  background:#30a362 !important;
  width: 250px;
}
.button-text{
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.spinner{
  float: left;
  padding-right: 10px;
}
