<div class="task-state-build">
    <div [ngSwitch]="selectedTask.state">
      <div *ngSwitchCase="'Build'">
        <div class="state-title">
          Build or Upload A Document
        </div>
        <div class="state-instruction">
          Select Build to create a document using the Document Builder or select Upload to upload a document to the task
        </div>
      </div>
      <div *ngSwitchCase="'Upload'">
        <div class="state-title">
          Upload A Document
        </div>
        <div class="state-instruction">
          Select Upload to upload a document to the task
        </div>
      </div>
      <div *ngSwitchCase="'Select'">
        <div class="state-title">
          Select Document
        </div>
        <div class="state-instruction">
          Select one document from the list
        </div>
        <div class="document-item-list">
          <app-document-item-list
          [documentList]="selectedTask.task.documents"
          [selectedDocumentId]="selectedDocumentId"
          (selectDocument)="onDocumentSelected($event)">
          </app-document-item-list>
        </div>
      </div>
      <div *ngSwitchDefault>
        <div class="state-title">
          Document(s)
        </div>
        <div class="document-item-list">
          <app-document-item-list
            [documentList]="selectedTask.task.documents"
            [selectedDocumentId]="selectedDocumentId">
          </app-document-item-list>
        </div>
      </div>
    </div>
    <div class="section-action">
        <button mat-raised-button class="section-button" *ngIf="showBuildButton()" (click)="buildDocument()">
          <span class="button-text">Build</span>
        </button>
        <button mat-raised-button class="section-button" (click)="uploadDocument()">
          <span class="button-text">Upload</span>
        </button>

    </div>
</div>
