.document-item-selected {
  border-color:#29b6f6;
  border-style: solid;
  border-width: thin;
  background-color: #E1F5FE;
  cursor: default;
}

.document-item-container {
  padding-bottom: 10px;
}

.document-item-container:hover {
  background-color: #80D8FF;
  cursor: pointer;
}
