.header {
  background-color: #f1f1f1;
  height:120px;
  border-bottom-style: solid;
  border-bottom-color: #FF9800;
  border-bottom-width: 3px;
}

.mat-card-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.header-project {
  font-size: 24px;
  padding-bottom: 20px;
}
.header-task {
  font-size: 16px;
}
.mat-card {
  width: 100%
}

dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}

