<div class="concur-page">
  <div class="document-row">
    <app-document-item
      [document]="selectedDocument"
      [selectedDocumentId]="selectedDocumentId">
    </app-document-item>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="space-around start"
       fxLayoutGap="10px"
       class="state-content-row">
    <div fxFlex>
      <div class="state-title">
        Complete Concurrence
      </div>
      <div class="state-instruction">
        Click "Approve" to route this document to the next person on the list.
      </div>
      <div class="state-approval">
        <app-task-approval></app-task-approval>
      </div>
    </div>
    <div fxFlex>
      <div class="concur-right-side">
        contents add here
      </div>
    </div>
  </div>
</div>

