<div class="task-state">
  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [completed]="false" #stepBuild>
          <ng-template matStepLabel>Build</ng-template>
          <app-task-state-build
            [selectedTask]="selectedTask"
            [documentBuildIds]="documentBuildIds"
            (documentBuild)="onDocumentBuild($event)">
          </app-task-state-build>
      </mat-step>
      <mat-step [completed]="false" #stepConcur>
          <ng-template matStepLabel>Concur</ng-template>
        <app-task-state-concur
          [selectedTask]="selectedTask">
        </app-task-state-concur>
      </mat-step>
      <mat-step [completed]="false" #stepSign>
        <ng-template matStepLabel>Sign</ng-template>
        <app-task-state-sign
          [selectedTask]="selectedTask">
        </app-task-state-sign>
      </mat-step>
      <mat-step [completed]="false" #stepArchive>
        <ng-template matStepLabel>Archive</ng-template>
        <app-task-state-archive
          [selectedTask]="selectedTask">
        </app-task-state-archive>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
