/deep/ .mat-horizontal-stepper-header-container {
  background: #E0E0E0 !important;
}
/deep/ .mat-horizontal-content-container {
  padding: 0px 0px !important;
}
/deep/ .mat-step-label-selected {
  color: #015798 !important;
}

.stepper-action {
  margin-left: 25px;
  margin-top: 20px;
  float: right;
  padding-right: 50px;
}
.stepper-button {
  padding-right: 25px;
}

