<div class="task-state">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step #stepBuild>
         <ng-template matStepLabel>
           <span data-cy="step-build"> {{getFristStepLabel()}}</span>
        </ng-template>
        <app-task-state-build
          [selectedTask]="selectedTask"
          [selectedTaskId]="selectedTaskId"
          [selectedDocument]="selectedDocument"
          [selectedDocumentId]="selectedDocumentId"
          (documentBuildFinish)="onDocumentBuildFinish($event)"
          (selectDocument)="onDocumentSelected($event)">
        </app-task-state-build>
    </mat-step>
    <mat-step #stepConcur>
        <ng-template matStepLabel>Concur</ng-template>
      <app-task-state-concur
        [selectedTask]="selectedTask"
        [selectedDocument]="selectedDocument"
        [selectedDocumentId]="selectedDocumentId">
      </app-task-state-concur>
    </mat-step>
    <mat-step #stepSign>
      <ng-template matStepLabel>Sign</ng-template>
      <app-task-state-sign
        [selectedTask]="selectedTask"
        [selectedDocument]="selectedDocument"
        [selectedDocumentId]="selectedDocumentId">
      </app-task-state-sign>
    </mat-step>
    <mat-step #stepArchive>
      <ng-template matStepLabel>Archive</ng-template>
      <app-task-state-archive
        [selectedTask]="selectedTask"
        [selectedDocument]="selectedDocument"
        [selectedDocumentId]="selectedDocumentId">
      </app-task-state-archive>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="stepper-action">
    <span class="stepper-button" *ngIf="stepper.selectedIndex !== 0">
      <button mat-mini-fab color="primary" (click)="goPrevious()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </span>
    <span class="stepper-button" *ngIf="stepper.selectedIndex !== 3">
      <button mat-mini-fab
              color="primary"
              (click)="goNext()"
              [disabled]="disableNext()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </span>
  </div>
</div>
