/deep/ .mat-horizontal-stepper-header-container {
  background: #dedada !important;
}
/deep/ .mat-horizontal-content-container {
  padding: 0px 0px !important;
}

.stepper-action {
  margin-left: 25px;
  margin-top: 10px;
}
.stepper-button {
  padding-right: 15px;
}

