<div class="document-list-page">
  <div *ngFor="let doc of documentListData.documents">
  <mat-card class='document-card' >
    <mat-card-title>
      <span class="document-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>
      <mat-icon>info outline</mat-icon>
      <span>More Info</span>
      </button>
      <button mat-menu-item>
      <mat-icon>link</mat-icon>
      <span>Linking</span>
      </button>
      <button mat-menu-item>
      <mat-icon>all_inclusive</mat-icon>
      <span>Archive</span>
      </button>
      </mat-menu>
      </span>
      <span class="line-spacer"></span>
      <span>{{doc.name}}</span>
      <span *ngIf="getArchivalEligibility(doc['id'])['reason']==='Archived'">
          <mat-icon mat-list-icon>all_inclusive</mat-icon>
        </span>
    </mat-card-title>
    <mat-card-subtitle>
      <div matLine *ngIf="getArchivalEligibility(doc['id'])['reason']!=='Archived'" >
        <span> Archival Eligibility: </span>
        <span *ngIf="getArchivalEligibility(doc['id'])['archivalEligible']">
          <mat-icon>check</mat-icon>
        </span>
        <span *ngIf="!getArchivalEligibility(doc['id'])['archivalEligible']">
          <mat-icon>close</mat-icon>
        </span>
      </div>
      <div>
        <span mat-subheader>{{getArchivalEligibility(doc['id'])['reason']}}</span>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
      <div>Approvers Information: ...</div>
      <div>Other information: ...</div>
      <!--<div class="toggle">-->
        <!--<mat-slide-toggle>-->
          <!--More Information-->
        <!--</mat-slide-toggle>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <div>
        <mat-slide-toggle (change)="showMoreInfoToggle($event,doc['id'])">More Information</mat-slide-toggle>
      </div>
      <div *ngIf="showMoreInfo(doc['id'])">
        <mat-card class="infor-card">
          more information ...
        </mat-card>
      </div>
    </mat-card-content>

  </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>
<app-full-screen-loader class="loader"
  [dataLoading] = "documentListLoading$ | async">
</app-full-screen-loader>
