<div *ngIf="document" class="document-item">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40px" fxFlexAlign="start">
      <div class="select-button" *ngIf="selectedDocumentId!==document.ID">
        <mat-radio-button
          (change)="onDocumentSelected()">
        </mat-radio-button>
      </div>
    </div>
    <div fxFlex class="document-item-left">
      <div class="document-title subtitle-text">DOCUMENT</div>
      <div class="document-name">
        <a [href]="getShowDocumentLink(document.ID)" target="_blank">
          {{getDocumentName()}}
        </a>
      </div>
    </div>
    <div fxFlex fxLayoutAlign="end" class="icon-section">
      <span class="document-icon" *ngIf="showPDFPreview()">
        <mat-icon
          color="primary"
          matTooltip="preview PDF"
          class="action-icon md48"
          (click)="openPDFPreview(document.ID)">picture_as_pdf</mat-icon>
      </span>
      <span class="document-icon">
        <a [href]="getDocumentDownloadUrl(document.ID)">
          <mat-icon
            color="primary"
            matTooltip="download document"
            class="action-icon md48">
            file_download
          </mat-icon>
        </a>
      </span>
      <span class="document-icon">
        <mat-icon color="primary" matTooltip="upload replacement document" class="action-icon md48">file_upload</mat-icon>
      </span>
    </div>
  </div>
</div>
