.document-item {
  margin-left: 15px;
  padding-top: 10px;
}

a {
  color: #01579B !important;
}
.icon-section {
  padding-right: 30px;
}
.action-icon {
  padding-right: 15px;
  cursor: pointer;
}
.document-title {
  font-size: 10px;
}
.document-name {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}
.a {
  text-decoration: none !important;
}
