.document-detail-card {
  width: 90%;
  margin: 15px;
}

.document-detail-card:hover {
  border-color:#29b6f6;
  border-style:solid;
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.document-name {
  font-size: 16px;
}
.archived-img {
  margin-left: 5px;
}

.section-header {
  font-weight: bold;
}

.document-refresh-icon {
  padding-left: 10px;
}

.document-action-button {
  padding-right: 65px;
}
