
<div class="document-detail-card" [ngClass]="{'document-detail-card-selected': selectedDocumentId===documentData.documentID}">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="document-name">
          <a [href]="getShowDocumentLink(documentData)" target="_blank" class="title-link">
            {{documentData.documentName}}
          </a>
            <img src="assets/archived.png" *ngIf="documentData.archivalStatus==='Archived'" class="archived-img"/>
        </span>
        <span class="line-spacer"></span>
        <span class="document-refresh-icon" matTooltip="refresh document">
          <mat-icon color="primary">refresh</mat-icon>
        </span>
      </mat-card-title>
      <mat-card-subtitle>
        Last Uploaded Date: {{documentData.lastUpdatedDate | date: "MM/dd/yyyy HH:mm:ss"}} |
        Version: {{documentData.documentVersion}}
        <a [href]="getDocumentDownloadLink(documentData)">
          <button mat-button color="primary">
            <mat-icon>file_download</mat-icon>Download
          </button>
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayou="row" fxLayoutAlign="space-around">
        <div fxFlex>
          <div class="section-header">
            <span>Document Approvals: </span>
            <span>
              {{documentData.approvers.length}}
            </span>
            <span *ngIf="documentData.approvers.length===0 && documentData.archivalStatus !== 'Archived'">
              <button mat-button color="primary">Request Approval</button>
            </span>
          </div>
          <div *ngFor="let approver of documentData.approvers;index as i"  class="section content">
            <span>
             {{getApprovalStatus(approver)}}
            </span>
            <span *ngIf="getApprovalDate !== null">
              {{getApprovalDate(approver) | date: "MM/dd/yyyy HH:mm"}}
            </span>
            <span *ngIf="isReadyToApprove(approver)">
              <button mat-button color="primary">Approve</button>
            </span>
            <span *ngIf="isReadyToRequestApproval(approver)">
              <button mat-button color="primary">Request Approval</button>
            </span>
          </div>
        </div>
        <!--<div fxFlex *ngIf="isDocumentOnTask()">-->
          <!--<div class="section-header">-->
            <!--Task approvals:-->
          <!--</div>-->
          <!--<div class="section-content">-->
            <!--task approval details-->
          <!--</div>-->
        <!--</div>-->
        <div fxFlex>
          <div class="section-header">
            Archival Status:
          </div>
          <div class="section-content">
            <span [ngSwitch]="getArchivalStatus(documentData)">
              <span *ngSwitchCase="'Archiving start'">
                <mat-spinner color="primary" [strokeWidth]="2" [diameter]="20"></mat-spinner>
              </span>
               <span *ngSwitchCase="'Archiving in progress'">
                <mat-spinner color="primary" [strokeWidth]="2" [diameter]="20"></mat-spinner>
              </span>
              <span *ngSwitchCase="'Archived'">
                <mat-icon color="primary">storage</mat-icon>
              </span>
              <span *ngSwitchCase="'Ineligible for Archiving'">
                <mat-icon color="warn">report</mat-icon>
              </span>
               <span *ngSwitchCase="'Ready to archive'">
                <mat-icon color="primary">check_circle</mat-icon>
              </span>
            </span>
            <span class="archival-status-text">{{documentData.archivalStatus}}</span>
          </div>
          <div *ngIf="isShowEligibilityButton(documentData)">
            <button mat-button color="primary">Show Details</button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="document-action-button">
        <button mat-button color="primary">
          <mat-icon>archive</mat-icon>Archive
        </button>
      </span>
      <span class="document-action-button">
        <button mat-button color="primary" (click)="showMetaData(documentData)">
          <mat-icon>description</mat-icon>Metadata ({{customFieldCount}})
        </button>
      </span>
      <span class="document-action-button">
        <button mat-button color="primary" (click)="showDocumentLink(documentData)">
          <mat-icon>compare_arrows</mat-icon>Link Document ({{documentLinkCount}})
        </button>
      </span>
      <span class="document-action-button">
        <button mat-button color="primary" (click)="showPDFPreview(documentData)">
          <mat-icon>picture_as_pdf</mat-icon>PDF Preview
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
