<div class="document-list-page" *ngIf="documentDataList">
  <div class="document-list-table">
    <ngx-datatable
      class="material striped document-list-datatable"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="30"
      [rowHeight]="'auto'"
      [rows]="documentDataList"
      [limit]="10"
      [sorts]="[
        {prop: 'lastUpdatedDate', dir: 'desc'}
      ]"
    >
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-column="column" ngx-datatable-header-template>Actions</ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button mat-icon-button [matMenuTriggerFor]="menu" [hidden]="!row.actionEligible">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <div matTooltip="Open a new window for document linking" matTooltipPosition="right">
              <span [hidden]="row.documentLinkURL===null">
                  <a [href]="row.documentLinkURL" target="_blank">
                  <button mat-menu-item>
                    <mat-icon>repeat</mat-icon>
                    <span>Link Document</span>
                  </button>
                </a>
              </span>
            </div>
            <div matTooltip="Preview what the document looks like when it is archived" matTooltipPosition="right">
              <span [hidden]="!row.previewEligible">
                <button mat-menu-item (click)="preview(row)">
                  <mat-icon>spellcheck</mat-icon>
                  <span>Preview</span>
                </button>
              </span>
            </div>
            <div matTooltip="Archive the document" matTooltipPosition="right">
              <span [hidden]="!row.archivalEligible">
                <button mat-menu-item (click)="archive(row)">
                  <mat-icon>unarchive</mat-icon>
                  <span>Archive</span>
              </button>
              </span>
            </div>
            <div matTooltip="Re Archive will bypass eligibility check and not update regulatory data" matTooltipPosition="right">
              <span [hidden]="!row.reArchivalEligible">
                <button mat-menu-item (click)="reArchive(row)">
                  <mat-icon>redo</mat-icon>
                  <span>Re Archive</span>
                </button>
              </span>
            </div>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="documentName" [flexGrow]="2">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Document Name</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [href]="getShowDocumentLink(row)" target="_blank">{{value}}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="lastUpdatedDate" [flexGrow]="1">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Last Modified</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="approvers" [flexGrow]="2">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Document Approvals</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngFor="let v of value">
            {{v}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="archivalStatus"  [flexGrow]="2">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">Archive Status</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

