<app-selection
  [taskId]="taskId$ | async"
  [selectionIds]="selectionIds$ | async"
  [projectIds]="projectIds$ | async"
  [projectAttachedTemplate]="projectAttachedTemplate$ | async"
  [attachTemplateComplete]="attachTemplateComplete$ | async"
  [attachTemplateAllComplete]="attachTemplateAllComplete$ | async"
  [userEmail]="userEmail$ | async"
  (removeSelection)="onRemoveSelection($event)"
  (attachTemplate)="onAttachTemplate($event)"
  (finishAttachTemplate)="onFinishAttachTemplate()"
  (updateRedactorProject)="onUpdateRedactorProject($event)">
</app-selection>
