<div class="sign-page">
  <div class="document-row">
    <app-document-item
      [document]="selectedDocument"
      [selectedDocumentId]="selectedDocumentId">
    </app-document-item>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="space-around start"
       fxLayoutGap="10px"
       class="state-content-row">
    <div fxFlex>
      <div class="state-title">
        Submit for Signatures
      </div>
      <div class="state-instruction">
        Add document signers below
      </div>
      <div class="state-approval">
        Document approvals placeholder
      </div>
    </div>
    <div fxFlex>
      <div class="sign-right-side">
        Other information placeholder
      </div>
    </div>
  </div>
</div>
