<div class="document-eligibility-page">
  <div class="document-page-header">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="document-page-title">Document Archive Eligibility</span>
        <span class="line-spacer"></span>
        <span class="document-link-link">
          <button mat-button color="primary" (click)="goToDocumentList()">
            <mat-icon>keyboard_return</mat-icon>back to document list
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="document-page-content">
    <div class="document-eligibility-card">
      <mat-card>
        <mat-card-content>
          <mat-list *ngFor="let item of documentData.eligibilityData.reason">
            <h3>{{item[0]}}</h3>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">info_outline</mat-icon>
              <h4 mat-line>Solution</h4>
              <p mat-line>{{item[1]}}</p>
              <p mat-line *ngIf="item[2]!==null && item[2] !== ''; else nolink">
                For more information please refer to the Platform User Guides <a href='{{item[2]}}' target='_blank'>HERE</a> or contact CDER Informatics <a href='mailto:CDERInformatics@fda.hhs.gov'>CDERInformatics@fda.hhs.gov</a> for assistance.
              </p>
              <ng-template #nolink>
                Please contact CDER Informatics <a href='mailto:CDERInformatics@fda.hhs.gov'>CDERInformatics@fda.hhs.gov</a> for assistance.
              </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
