<div class="task-detail-container">
    <mat-expansion-panel [expanded]="false"
                         [hideToggle]="true"
                         [disabled]="true"
                         #detailPanel>
      <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
          <span>
            <div class="task-header subtitle-text">TASK</div>
            <div class="task-link">
              <a [href]="getShowTaskLink(selectedTask.task.ID)" target="_blank"
                 (click)="taskLinkClick($event)">
                   {{selectedTask.task.name}}
              </a>
            </div>
            <div class="panel-toggle" (click)="togglePanel()">
              <span *ngIf="panelOpenState">
                <button class="toggle-button" mat-button>Hide Submission Detail<mat-icon color="primary">arrow_drop_up</mat-icon></button>
              </span>
              <span *ngIf="!panelOpenState">
                <button class="toggle-button" mat-button>Show Submission Detail<mat-icon color="primary">arrow_drop_down</mat-icon></button>
              </span>
            </div>
          </span>
          <span class="line-spacer"></span>
          <span class="task-detail-header-right">
           <span class="task-status">{{selectedTask.task.status}} </span>
            <span class="task-due-date">| DUE: {{selectedTask.task.plannedCompletionDate | date: 'MM/dd/yyyy'}}</span>
          </span>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card class="detail-card">
            <mat-card-content>
              <div class="detail-section-title">Submission Information</div>
              <div class="detail-section-content">
                <dl>
                  <dt>Submission:</dt>
                  <dd>{{selectedTask.task.project.name}}&nbsp;</dd>
                  <dt>Submission Classification:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Submission Classification"]}}&nbsp;</dd>
                  <dt>Supplement Sub Types:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Supplement Sub Type"]}}&nbsp;</dd>
                  <dt>FDA Received Date:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:FDA Received Date"]}}&nbsp;</dd>
                  <dt>Goal Date:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Goal Date"]}}&nbsp;</dd>
                  <dt>Applicant Requester:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Applicant"]}}&nbsp;</dd>
                </dl>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card class="detail-card">
            <mat-card-content>
              <div class="detail-section-title">Product Information</div>
              <div class="detail-section-content">
                <dl>
                  <dt>Product:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Product"]}}&nbsp;</dd>
                  <dt>Dosage Form:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Dosage Form"]}}&nbsp;</dd>
                  <dt>Project Type:</dt>
                  <dd>{{selectedTask.task.project.parameterValues["DE:Submission Type"]}}&nbsp;</dd>
                </dl>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card class="detail-card">
            <mat-card-content>
              <div class="detail-section-title">Task Information</div>
              <div class="detail-section-content">
                <dl>
                  <dt>Quality MRD:</dt>
                  <dd>???&nbsp;</dd>
                  <dt>QDD:</dt>
                  <dd>???&nbsp;</dd>
                </dl>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      </div>
    </mat-expansion-panel>
</div>
