<div class="task-detail-container">
    <mat-expansion-panel [expanded]="false"
                         [hideToggle]="true"
                         [disabled]="true"
                         #detailPanel>
      <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
          <span>
            <div class="task-header subtitle-text">TASK</div>
            <div class="task-link">
              <a [href]="getShowTaskLink(selectedTask.task.ID)" target="_blank"
                 (click)="taskLinkClick($event)">
                   {{selectedTask.task.name}}
              </a>
            </div>
            <div class="panel-toggle" (click)="togglePanel()">
              <span *ngIf="panelOpenState">
                <button class="toggle-button" mat-button>Hide Submission Detail<mat-icon color="primary">arrow_drop_up</mat-icon></button>
              </span>
              <span *ngIf="!panelOpenState">
                <button class="toggle-button" mat-button>Show Submission Detail<mat-icon color="primary">arrow_drop_down</mat-icon></button>
              </span>
            </div>
          </span>
          <span class="line-spacer"></span>
          <span class="task-detail-header-right">
           <span class="task-status">{{selectedTask.task.status}} </span>
            <span class="task-due-date">| DUE: {{selectedTask.task.plannedCompletionDate | date: 'MM/dd/yyyy'}}</span>
          </span>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
        <div fxFlex class="detail-section-column">
          <div class="detail-section-content">
            <div>
              <div class="detail-key-submission">Submission:</div>
              <div class="detail-value-submission">
                <a [href]="getShowProjectLink(selectedTask.task.project.ID)" target="_blank">
                  {{selectedTask.task.project.name}}&nbsp;
                </a>
              </div>
            </div>
            <div class="detail-line">
              <span class="detail-key">Submission Classification:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Submission Classification"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">Supplement Sub Types:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Supplement Sub Type"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">FDA Received Date:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:FDA Received Date"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">Goal Date:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Goal Date"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">Applicant Requester:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Applicant"]}}&nbsp;</span>
            </div>
          </div>
        </div>
        <div fxFlex class="detail-section-column">
          <div class="detail-section-title subtitle-text">Product Information</div>
          <div class="detail-section-content">
            <div class="detail-line">
              <span class="detail-key">Product:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Product"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">Dosage Form:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Dosage Form"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">Project Type:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Submission Type"]}}&nbsp;</span>
            </div>
          </div>
        </div>
        <div fxFlex class="detail-section-column">
          <div class="detail-section-title subtitle-text">Task Information</div>
          <div class="detail-section-content">
            <div class="detail-line">
              <span class="detail-key">Quality MRD:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE: Quality Mid Review Date"]}}&nbsp;</span>
            </div>
            <div class="detail-line">
              <span class="detail-key">QDD:</span>
              <span class="detail-value">{{selectedTask.task.project.parameterValues["DE:Quality Date"]}}&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </mat-expansion-panel>
</div>
