.task-detail-header-right {
  margin-right: 25px;
  font-size: 14px;
}

.task-refresh-icon {
  margin-right: 20px;
}

.task-header {
  font-size: 12px !important;
}
.task-link {
  padding-top: 5px !important;
}
.due-date {
  padding-top: 5px;
}
.mat-expansion-panel-header{
  background-color: #cfeef7 !important;
  cursor: default !important;
}

.mat-expansion-panel {
  background: #b3e5fc1c !important;
}

.panel-content {
  padding-top: 10px;
}
.detail-card {
  background: #b3e5fc1c !important;
}

.panel-toggle {
  cursor: pointer;
  font-weight: bold;
}
.detail-section-title {
  font-weight: bold;
  font-size: 14px;
}
dl dt {
  font-weight: bold;
  float: left;
  padding-bottom: 2px;
  padding-right: 2px;
}
dl dd {
  padding-bottom: 2px;
}

.task-header {
  margin-top: 10px;
}
.task-detail-header-right {
  background-color: white;
  padding: 5px 20px;
  align-self: center;
  color: dodgerblue;
}
.task-status {
  font-size: 14px;
  font-weight: bold;
}
.task-due-date {
  font-size: 12px;
}
.toggle-button {
  padding: 0px 0px !important;
  color: dodgerblue !important;
}

