.task-detail-header-right {
  margin-right: 25px;
  font-size: 14px;
}

.task-refresh-icon {
  margin-right: 20px;
}

.task-header {
  font-size: 12px !important;
}
.task-link {
  padding-top: 5px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #01579B !important;
}
a {
  color: #01579B !important;
}
.due-date {
  padding-top: 5px;
}
.mat-expansion-panel-header{
  background-color: #E1F5FE !important;
  cursor: default !important;
}

.mat-expansion-panel {
  background-color: #E1F5FE !important;
}

.panel-content {
  padding-top: 10px;
}
.detail-card {
  background: #b3e5fc1c !important;
}

.panel-toggle {
  cursor: pointer;
  font-weight: bold;
}
.detail-section-title {
  font-size: 14px;
  padding-bottom: 15px;
}
.detail-key {
  font-weight: bold;
  padding-right: 10px;
}
.detail-key-submission {
  font-weight: bold;
}
.detail-value {
}
.detail-value-submission {
  padding-bottom: 8px;
}
.detail-line {
  padding-bottom: 8px;
}

.task-header {
  margin-top: 10px;
}
.task-detail-header-right {
  background-color: white;
  padding: 5px 20px;
  align-self: center;
  color: dodgerblue;
}
.task-status {
  font-size: 12px;
  font-weight: bold;
  color: #01579B;
}
.task-due-date {
  font-size: 12px;
  color: #01579B;
}
.toggle-button {
  padding: 0px 0px !important;
  color: dodgerblue !important;
}

