.page-header {
  background-color: #9E9E9E;
  height:50px;
}
.task-header {
  background-color: #f1f1f1;;
  height:40px;
}
.header-left{margin-left:10px;}
.header-right{}
.title{
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.task-title {
  font-size: 18px;
  font-weight: bold;
}
.name{
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.task-list-refresh-icon {
  cursor: pointer;
}
.task-list-refresh-animation-icon {
  display: inline-flex;
}
.refresh-text {
  padding-right: 20px;
  font-style: italic;
}
.task-list-page-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
