<div class="task-list-page">
  <div class="task-page-header">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="task-page-title">Active Task List ({{taskList.length}})</span>
        <span class="line-spacer"></span>
        <span class="task-list-refresh-icon" matTooltip="refresh task list">
            <mat-icon color="primary">refresh</mat-icon>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="no-task-exist" *ngIf="taskList.length===0">
    No Active Task.
  </div>
  <div *ngFor="let task of taskList; index as i;" class="task-card-list">
  <app-task-list-item
    [taskData]="task"
    [selectedTaskId]="selectedTaskId"
    (selectTask)="onTaskSelected($event)">
  </app-task-list-item>
</div>
</div>


