.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.task-card {
  width: 400px;
}

.line-spacer {
  flex: 1 1 auto;
}


a {
  text-decoration: none;
}


.task-card-list {
  padding-top: 5px;
}
.task-list-refresh-icon {
}


