<div class="document-builder-dialog-container">
  <iframe frameborder="0" [src]="getExariUrl()"></iframe>
  <mat-divider></mat-divider>
  <div class="action-buttons">
    <span class="action-button">
      <button
        mat-button
        mat-dialog-close (click)="dialogRef.close('cancel')">
        Cancel
      </button>
    </span>
    <span class="action-button">
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close (click)="dialogRef.close('finish')">
        Finish
      </button>
    </span>
  </div>
</div>

