<div class="document-link-page">
  <div class="document-page-header">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="document-page-title">Document Link</span>
        <span class="line-spacer"></span>
        <span class="document-link-link">
          <button mat-button color="primary" (click)="goToDocumentList()">
            <mat-icon>keyboard_return</mat-icon>back to document list
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="document-page-content">
    <img src="assets/document_link.png" class="link-image"/>
  </div>
</div>


