.nav-index {
  font-size: 1.5em;
  margin-right: 10px;
}
.nav-name {
  font-size: 14px;
  margin-right: 10px;
}

.nav-active {
  background-color: #80D8FF;
}

/deep/ .mat-tab-label mat-ripple mat-tab-label-active {
  background-color: #80D8FF !important;

}

