<mat-card class="document-confirmation-card">
  <mat-card-header>
    <mat-card-title>
      <div class="confirmation-title">
        The document you have selected is now being archived.
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="confirmation-subtitle">
        To view document archival status please click on 'Check Status' button
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="checkStatus()">Check Status</button>
  </mat-card-actions>
</mat-card>
