<mat-card class="document-validation-card">
  <mat-card-header>
    <mat-card-title>
      <div class="validation-title">
        Below changes will
        occur upon document archival. Click Archive if you would like to proceed.
        To make updates, click on the document name.
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="validate-document">
        Document:
        <a [href]="getShowDocumentLink(selectedDocument.documentID)" target="_blank">
          {{selectedDocument.documentName}}
        </a>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-document-detail [documentData]="selectedDocument" [regulatoryData]="selectedRegulatoryData">

    </app-document-detail>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Previous Step</button>
    <button mat-raised-button color="accent" (click)="archive()">Archive</button>
  </mat-card-actions>
</mat-card>
