.content-row {
  margin:5px;
}
.logo {
  height: 90px;
  border-top-color:#f1f1f1;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color:#f1f1f1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.img-logo {
  width:60px;
  height: 60px;
  margin-top: 15px;
}

.flex-container {
}
.main-content {
  background: #f1f1f1;

}
