.content-row {
  margin:5px;
}
.logo {
  height: 90px;
  border-top-color:#f1f1f1;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color:#f1f1f1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.img-logo {
  width:60px;
  height: 60px;
  margin-top: 15px;
}

.flex-container {
}
.main-content {
  background: #f1f1f1;

}

.loader {
  margin-left: 30%;
}
.loader-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20%;
  margin-top: 100px;
}
.snack-bar{
  background: #29b6f6;
  font-style: italic;
}
.myFrame {
  display: none;
}
