@import '~@angular/material/theming';
@include mat-core();

$mh-app-primary: mat-palette($mat-light-blue, 400);
$mh-app-accent: mat-palette($mat-light-blue, A100);

// Create the theme object (a Sass map containing all of the palettes).
$mh-app-theme: mat-light-theme($mh-app-primary, $mh-app-accent);

$custom-typography: mat-typography-config(
  $font-family: 'lucida grande, tahoma, verdana, arial, sans-serif',
  $body-1: mat-typography-level(12px, 16px, 500),
  $button: mat-typography-level(12px, 16px, 500)
);

@include angular-material-theme($mh-app-theme);
@include angular-material-typography($custom-typography);
