@import '~@angular/material/theming';
@include mat-core();

$mh-app-primary: mat-palette($mat-orange, 600);
$mh-app-accent: mat-palette($mat-amber, A400);

// Create the theme object (a Sass map containing all of the palettes).
$mh-app-theme: mat-light-theme($mh-app-primary, $mh-app-accent);

@include angular-material-theme($mh-app-theme);
