/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.line-spacer {
  flex: 1 1 auto;
}

.datatable-header{
  background-color: #bcbcbc !important;
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background-color: #bcbcbc;
}
.ngx-datatable.material .datatable-header .datatable-header-cell{
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #222222 !important;
  vertical-align: middle !important;
}


.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  font-size:11px !important;
  overflow: hidden !important;
}

.ngx-datatable.material .datatable-body .datatable-row-detail {
  background-color: transparent !important;
}

.mat-tab-label {
  margin-right: 80px !important;
}

/*.mat-tab-label mat-ripple mat-tab-label-active {*/
  /*background-color: #bcbcbc !important;*/
/*}*/

.mat-tab-label-active {
  background-color: #add2e7 !important;
}

.mat-card-header-text {
  width: 100%;
}

html{
  background: #FFF;
}

.document-page-header {
  width: 100%;
}
.document-page-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.document-page-content {
  padding-top: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*body {*/
  /*font-size:small;*/
/*}*/
