
<div (click)="onTaskSelected(taskData)" data-cy="task-item">
  <mat-card class="task-detail-card"
            [ngClass]="{'task-detail-card-selected': selectedTaskId===taskData.task.ID}">
    <mat-card-header>
      <mat-card-title>
        <div fxLayou="row" fxLayoutAlign="space-around start">
          <div fxFlex="250px">
            <span class="task-name">
                {{taskData.task.name}}
            </span>
          </div>
          <div fxFlex fxLayoutAlign="end" class="task-due-date">
            <span>
              Due: <br/>
              {{taskData.task.plannedCompletionDate | date: 'MM/dd/yyyy'}}
            </span>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayou="row" fxLayoutAlign="space-around start">
        <div fxFlex="250px">
            <span class="project-name">
                {{taskData.task.project.name}}
            </span>
        </div>
        <div fxFlex fxLayoutAlign="end">
          <mat-chip-list>
            <mat-chip *ngIf="getTaskStateData(taskData.state).show"
              selected [style.background-color]="getTaskStateData(taskData.state).color">
              <span class="state-text">{{getTaskStateData(taskData.state).label}}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

