
<div (click)="onTaskSelected(taskData)" data-cy="task-item">
  <mat-card class="task-detail-card"
            [ngClass]="{'task-detail-card-selected': selectedTaskId===taskData.task.ID}">
    <mat-card-header>
      <mat-card-title>
        <div fxLayou="row" fxLayoutAlign="space-around start">
          <div fxFlex="250px">
            <span class="task-name">
              <a [href]="getShowTaskLink(taskData.task.ID)" target="_blank" class="title-link">
                {{taskData.task.name}}
              </a>
            </span>
          </div>
          <div fxFlex>
            <span>
              Goal Date: <br/>
              {{taskData.task.project.parameterValues["DE:Goal Date"]}}
            </span>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayou="row" fxLayoutAlign="space-around start">
        <div fxFlex="250px">
            <span class="project-name">
              <a [href]="getShowProjectLink(taskData.task.project.ID)" target="_blank" class="title-link">
                {{taskData.task.project.name}}
              </a>
            </span>
        </div>
        <div fxFlex>
          <mat-chip-list>
            <mat-chip selected color="primary">
              <span class="state-text">{{taskData.state}}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

