.loader{
  margin-top: 100px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.document-menu {
  margin-right: 20px;
}

.document-card {
  width: 800px;
}

.line-spacer {
  flex: 1 1 auto;
}

.document-list-datatable {
  text-align: left;
  width:100%;
  margin:10px auto;
}

a {
  text-decoration: none;
}


.preview-img {
  background:transparent;
  height: 30px;
  cursor:pointer;
}
.instruction{
  padding-top: 10px;
}

.radio-selection{
}

.document-list-action {
  margin-top: 30px;
}
.eligibility-status-text {
  white-space: pre-wrap;
}

.document-card-list {
  padding-top: 5px;
}
.document-list-refresh-icon {
}
.warning-icon {
  font-size: 48px;
}
.warning-section {
  margin: 10px;
  background-color: whitesmoke;
}
.approver-detail {
  margin-left: 100px;
}

